<div id="topbar">
	<div id="top-strip" class="z-depth-1 whet-topbar-background">
		<a href="/" id="brand-logo">W</a>
		<% if (!currentUser) { %>
			<div id="nav-home-list">
				<span id="nav-alert"><%= alerts %></span>
				<a href="#signup-modal" class="waves-effect waves-teal modal-trigger btn-flat">Register</a>
				<a href="#login-modal" class="waves-effect waves-teal modal-trigger btn-flat">Login</a>
			</div>
		<% } else { %>
			<span id="nav-alert"><%= alerts %></span>
			<div id="nav-home-list">
				<a class="waves-effect waves-teal btn-flat valign-wrapper" href="/auth/logout">
					<div class=" valign">Logout</div>
				</a>
			</div>
		<% } %>
	</div>
</div>
