<div id="topbar">
	<div id="top-strip" class="z-depth-2">
	</div>

	<div id="brand-logo" class="floatbox valign-wrapper z-depth-2">
		<div class="floatbox-content valign">whetstone</div>
	</div>

	<div id="nav-menu" class="floatbox valign-wrapper z-depth-2">
		<% if (currentUser) { %>
			<div class="floatbox-content valign"><a href="../auth/logout"><%= currentUser.username %> (click to logout)</a></div>
		<% } else { %>
			<div class="floatbox-content valign"><a href="/">log in</a></div>
		<% } %>
	</div>

</div>