<div id="navbar">
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">whetstone</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Sass</a></li>
				<% if (currentUser) {%>
					<li><a href="#"><%= currentUser.username%></a></li>
					<li><a href="../auth/logout">Logout</a></li>
				<%} else {%>
					<li><a href="#">Login</a></li>
				<%}%>
			</ul>
		</div>
	</nav>
</div>