<div id="topbar">
	<div id="top-strip" class="z-depth-2">
	</div>

	<div id="brand-logo" class="floatbox valign-wrapper z-depth-2">
		<div class="floatbox-content valign">whetstone</div>
	</div>

	<% if (!currentUser) { %>
		<div id="nav-menu-signup" class="floatbox valign-wrapper z-depth-2">
			<div class="floatbox-content valign"><a class="modal-trigger" href="#signup-modal">sign up</a></div>
		</div>
		<div id="nav-menu" class="floatbox valign-wrapper z-depth-2">
			<div class="floatbox-content valign"><a class="modal-trigger" href="#login-modal">log in</a></div>
		</div>

	<% } else { %>

		<div id="nav-menu" class="floatbox z-depth-2">
			<a id="cust-nav-dropdown-button" class="dropdown-button valign-wrapper" data-activates="cust-nav-dropdown">
				<div class="floatbox-content valign"><%= currentUser.username %></div>
				<div class="floatbox-content valign"><i class="material-icons" style="font-size: 18px; color: #ffab40">import_export</i></div>
			</a>
		</div>

		<ul id="cust-nav-dropdown" class="dropdown-content z-depth-2">
	    <li><a href="/dashboard">dashboard</a></li>
	    <li><a href="/archive">all goals</a></li>
	    <li class="divider"></li>
	    <li><a href="/auth/logout">logout</a></li>
	  </ul>

	<% } %>

</div>