<div class="row">
    <div class="col m6 s12">
        <img src="/<%= subFilename %>"class="z-depth-1" id="sub-view-img">
        <p>Comments</p>
    </div>
    <div class="col m6 s12">
        <h4><%= subDate %></h4>
        <p><%= subNote %></p>
    </div>
</div>
