/* site-wide */
body {
	background-color: #eceff1;
}

/* altered Materialize styles */
.body-wrapper {
	padding: 0 20px;
}
.nav-wrapper {
	padding: 0 50px;
	/*background-color: #fff8e1;*/
}

/* create_goal */
.goal-label {
	text-align: right;
}