body {
	background-color: #eceff1;
}

.body-wrapper {
	padding: 0 20px;
}

.nav-wrapper {
	padding: 0 50px;
	/*background-color: #fff8e1;*/
}

.brand {
	font-weight: bold;
	color: white;
}

.user {
	float: right;
	height: 50px;
	width: 100px;
	border: 2px solid white;
}

/*create_goal*/
.goal-label {
	text-align: right;
}