<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>


<h3>archive view</h3>

<!-- User dashboard/archive
	Create a new goal
	View old goals
	Renew old goals -->


<% include ./partials/footer.ejs %>