<h2>dashboard</h2>

<% include ../partials/navbar.ejs %>

<!-- Goal dashboard
	See progress/upcoming goal/checkpoint
	Be able to submit
	Be able to comment on my submission
	Able to be commented on by group 		
	View my submissions
	Notifications of group
	View group submissions, or able to click to get to a specific group member -->
