<h3>goal_overview</h3>

<!-- Page when goal is over / reviewing past goals (show)
	See all submissions
	See all people in group
	Not necessarily their submissions, but maybe some stats
	If betting any money, see money lost and paid to group -->
