<% include ./partials/header.ejs %>


<% if (user) { %>
	<% include ./partials/navbar.ejs %>
		<h2>dashboard</h2>
<% } else { %>
<div class="row">
	<div class="col s6">
		<h2>Sign Up</h2>
		<% include ./partials/register.ejs %>
	</div>
	<div class="col s6">
		<h2>Login</h2>
		<% include ./partials/login.ejs%>
	</div>
</div>
<% } %>


<% include ./partials/footer.ejs %>