<% include ./partials/header.ejs %>


<% if (!user) { %>
	<% include ./partials/register.ejs %>
<% } else { %>

	<% include ./partials/navbar.ejs %>

	<h2>dashboard</h2>

	
<% } %>

<% include ./partials/footer.ejs %>