<!DOCTYPE html>
<html>
  <head>
    <title>whetstone</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/styles.css"/>

    <!-- Switch between custom themes below -->
    <!-- <link type="text/css" rel="stylesheet" href="/css/themes/red-cream.css"/> -->
     <link type="text/css" rel="stylesheet" href="/css/themes/white-thin.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="whet-body-background row">
    <% include ./partials/navbar.ejs %>

    <section class="body-wrapper col l10 push-l1 s12">
      <%- body %>
    </section>

    <!-- Duplicates for online/offline developing -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>