<!-- Public facing portfolio page
  View favorited submissions organized by date range and/or goal -->


<!-- borrowing some html from archive.ejs -->
<div id="portfolio-page" class="row">

<% targetGoals.forEach(function(goal) { %>
  <div style="border: 1px solid orange;">
    <%= goal.name %>
  </div>
<% }); %>

</div>


<!-- to access submission for week 4 -->
<!-- targetUser.currentGoals.goal_id.portfolio[3] -->
  <!-- evauates to submission object -->
