<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>


<h3>portfolio</h3>

<!-- Public facing portfolio page
	View favorited submissions organized by date range and/or goal -->


<% include ./partials/footer.ejs %>