<div class="row">
    <div class="col m6 s12">
        <img src="/<%= submission.filename %>"class="z-depth-1" id="sub-view-img">
        <p>Comments</p>
    </div>
    <div class="col m6 s12">
        <h3><%= submission.created_at %></h3>
        <p><%= submission.note %></p>
    </div>
</div>
