<div id="splash" class="center-align">
  <h3 class="thin">whetstone</h3>
  <h5 class="thin">sharpen your skills</h5>
  <br>
  <span><i class="material-icons" style="font-size: 48px; margin-right: 10px;">camera</i></span>
  <span><i class="material-icons" style="font-size: 48px;  margin-right: 10px;">create</i></span>
  <span><i class="material-icons" style="font-size: 48px">album</i></span>
</div>

<section class="front-page-full whet-block-1" id="whet-block-1" >
  <div class="row">
    <div class="col s12 center-align">
      <h4 class="thin">Reach your creative goals</h4>
      <p class="light">Write 500 words four days every week or practice photography every day. You choose.</p>
    </div>
  </div>
</section>
<section class="front-page-full">
  <div class="row">
    <div class="col s12 center-align">
      <h4 class="thin">Friends keep you accountable</h4>
      <p>Create a goal with a friend to help keep you both on track to reaching your goal</p>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="footer-left col l6 s12 whet-footer-left" id="whet-footer-left">
    whetstone &copy; 2016
  </div>
  <div class="footer-right col l6 s12 whet-footer-right" id="whet-footer-right">
    <span>made with</span> <i class="material-icons">local_cafe</i> <span> - derek poppe and reed kinning</span>
  </div>
</footer>




<!-- Modals -->
<% include partials/modals/login %>
<% include partials/modals/register%>