<div id="splash" class="center-align z-depth-1">
  <h3 class="light">Sharpen your skills</h3>
</div>

<!-- Modal Structure -->
<div id="signup-modal" class="modal">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <% include ./partials/register.ejs %>
  </div>
</div>
<div id="login-modal" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <% include ./partials/login.ejs%>
  </div>
</div>