<div id="splash" class="center-align">
  <h3 class="thin">Whetstone</h3>
  <h4 class="thin">Sharpen your skills</h4>
</div>

<!-- Modals -->
<% include ./partials/register.ejs %>
<% include ./partials/login.ejs%>