<div id="link-submit-modal" class="row modal">
    <form  id="upload-link-form">
        <div class="row margin">
            <div class="input-field col s12">
                <input id="link-title" name="link-title" placeholder="title" required>
            </div>
            <div class="input-field col s12">
                <input id="link-entry" name="link-entry" placeholder="Paste link here" required>
            </div>
            <div class="col s12">
                <input id="link-note" name="link-note" placeholder="note" required>
                <button class=" upload-button btn waves-effect waves-light" type="submit" name="action">submit</button>
            </div>
        </div>
    </form>
</div>
