<div id="signup-modal" class="row modal">
  <form class="login-form" method="post" action="/auth/register">
    <div class="row">
      <div class="input-field col s12 center">
        <p class="center login-form-text">Register</p>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <!--Passport requires username, this is our custom username-->
        <input placeholder="" id="name" type="text" name="name" class="validate" required>
        <label for="name">Username</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <input placeholder="" id="username" type="email" name="username" class="validate" required>
        <label for="username">Email</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <input placeholder="" id="password" type="password" name="password" class="validate" required>
        <label class="active" for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="submit" class="waves-effect waves-light btn" style="width: 100%">
      </div>
    </div>
  </form>
</div>
