/*
[Original Color Scheme]
*/
/*1. Body and built in elements
----------------------------------------------*/
.whet-body-background {
  background-color: #FFFAF0;
}
.whet-panel-background {
  background-color: white;
  color: black;
}
.btn {
  background-color: #1E88E5;
}

input::-webkit-input-placeholder {
  color: darkolivegreen !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: darkolivegreen !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: darkolivegreen !important;
}

input:-ms-input-placeholder {
  color: darkolivegreen !important;
}

/*2. Nav
----------------------------------------------*/
.whet-nav-stone {
  background-color: #455a64;
}
.whet-nav-text {
  color: white;
}
.whet-nav-dropdown {
  background-color: #455a64;
}
.whet-nav-dropdown li a {
  color: #CEA85F;
}
.whet-down-arrow {
  border-top: 8px solid #CEA85F;
}
.whet-topbar-background {
  background-color: #912C00;
}
#top-strip a {
  color: #FFFAF0;
}

/*3. Dashboard elements
----------------------------------------------*/
.whet-leftpanel-background {
  background-color: rgba(164,188,164,.5);
  color: #2E2F2A;
}
.whet-btn-1 {
  background-color: rgba(179,118,87,.8);
}
.whet-card-background {
  background-color: #455a64;
}
.submission-box { 
  border-color: #455a64;
}
.whet-submission-box {
  background-color: gray;
}
/*4. Home page
----------------------------------------------*/
.whet-footer-left {
  background-color: #191718;
  color: whitesmoke;
}
.whet-footer-right {
  color: whitesmoke;
  background-color: #303030;
}
.whet-block-1 {
  background-color: #455a64;
  color: white;
}